body {
    height: 100%;
    background-image: linear-gradient(mediumpurple, white);
}

#loginpage {
    text-align: center;
    margin-top: 50px;
    border:dashed;
    margin-bottom:initial;
}

#label {
    font-family:'Adobe Devanagari';
}

#userid::-webkit-outer-spin-button,
#userid::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin:0;
}

#pin::-webkit-outer-spin-button,
#pin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin:0;
}
#userid,#pin {
    padding: 20px;
    height: 20px;
    width: 100px;
    text-align: left;
}

#loginbtn {
    padding: 20px;
    height: 50px;
    background-color:burlywood;
}

ul {
    margin: 0;
    padding: 0;
}

    ul li {
        padding: 10px;
        margin: 20px;
        border-radius: 20px;
        list-style-type: none;
        text-align: center;
        background-color: aliceblue;
        font-size: 18px;
        font-family: Cooper;
    }

.delete {
    text-align: right;
    padding: 5px;
    background-color: red;
    border-radius: 10px;
}


h3 {
    text-align: center;
    font-family:'Adobe Devanagari';
    font-size: xx-large;
}

#totcount {
    text-align: center;
    margin-top: 10px;
    text-align: center;
    font-family: 'Adobe Arabic';
    font-size: large;
    padding: 5px;
}

#top {
    text-align: center;
    margin-top: 10px;
    text-align: center;
    font-family: 'Adobe Arabic';
    font-size: large;
    padding: 5px;
}

#totcount1 {
    text-align: center;
    margin-top: 10px;
    text-align: center;
    font-family: 'Adobe Arabic';
    font-size: large;
    padding: 5px;
}

#top1 {
    text-align: center;
    margin-top: 10px;
    font-family: 'Adobe Arabic';
    font-size: large;
    padding: 5px;
}
.MainPage {
    text-align: center;
}
#Dropdown {
    font-family: 'Adobe Devanagari';
    padding: 15px;
}

#logout {
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}
#WithdrawAmount, #TransferAmount, #DepositAmount {
    background-color: dodgerblue;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

#BalanceCheckbtn, #ViewBtn {
    background-color:lightblue;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    width:200px;
}

#Submit {
    background-color:wheat;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    color:black;
}